<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Resumen de tu Compra' }) -%>

  <body>
    <%- include('./partials/header') -%>

      <main>
        <section class="container carrito-compras destacados">

          <div class="checkout">
            <h2 class="destacados">Detalle de tu compra</h2>

            <ul class="container carrito-lista">
              <!--! listado de productos en carrito -->
              <% for(item of carrito) { %>
                <li class="carrito-producto">
                  <div class="carrito-detalle-producto">
                    <a href=" /products/detalle-producto/<%= item.id %>">
                      <img class="carrito-imagen" src="..\img\products\<%= item.image %>" alt="Queso " /></a>
                    <div>
                      <p class="carrito-nombre-producto">
                        <%= item.name %>
                      </p>
                      <!--! boton eliminar articulo -->
                      <form name="borrar-item" action="/carrito/<%= item.id %>" method="POST">
                        <input style="visibility: hidden;" type="number" name="id" value="<%= item.id %>" />
                        <button class="boton" type="submit">
                          Eliminar
                        </button>
                      </form>
                    </div>
                  </div>

                  <div class="carrito-detalle-compra">
                    <p>$ <%= item.price %>
                    </p>
                  </div>
                </li>
                <% } %>
            </ul>
          </div>
        </section>
        <!--! resumen total y total con descuento -->
        <section class="container carrito-checkout destacados">
          <div>
            <p style="text-decoration:line-through;">Total: $ <%= total.precio %>
            </p>
            <p>Total: $ <%= total.descuento %>
            </p>
          </div>

          <div class="carrito-comprar">
            <form name="comprar-carrito" action="/carrito" method="POST" enctype="multipart/form-data">
              <button class="boton">Comprar</button>
          </div>
        </section>

        <section class="destacados">
          <div class="container">
            <h2 class="bold">Productos Recomendados</h2>
            <div class="products">
              <% for(product of products) { %>
                <% if(product.discount>= 20 && product.stock) { %>
                  <%- include('./partials/producto', { product }) -%>
                    <% } %>
                      <% } %>
            </div>
          </div>
        </section>
      </main>
      <%- include('./partials/footer') -%>
  </body>

</html>