<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Quienes Somos'}) -%>

<body>

    <body>
        <%- include('./partials/header') -%>
        <%- include('./partials/category') -%>

        <main>
           <h1>ERROR</h1>
           <% if (locals.user && user.user_name) { %>
            <h1>Hola <%= user.user_name %> </h1>
           <% } %>

           <% if (locals.error && error.msg) { %>
            <h3>Error al intentar ingresar: <%= error.msg %> </h3>
           <% } %>



        </main>
        <%- include('./partials/footer') -%>

    </body>

</html>