<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Quienes Somos'}) -%>

<body>

  <body>
    <%- include('./partials/header') -%>
    <%- include('./partials/category') -%>

    <main class="sobreNosotros">
      <div class="oops">
        <div>
          <h1>ERROR</h1>
          <% if (locals.user && user.user_name) { %>
          <h2>Hola <%= user.user_name %> </h2>
          <% } %>
        </div>
        <% if (locals.error && error.msg) { %>
        <div class="container">
          <p>Error : <%= error.msg %> </p>
        </div>
        <% } %>
      </div>
      <div class="oopsImg">
      <img  class="oopsImg" src="..\img\products\oops.png" alt="oops" />
    </div>



    </main>
    <%- include('./partials/footer') -%>

  </body>

</html>