<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Formulario de Edicion' }) -%>

    <body>
        <%- include('./partials/header') -%>

            <main>
                <section class="form">

                    <h2>Editar Producto</h2>

                    <form action="/products/productoEdicion/<%= product.id %>?_method=PUT" method="post" class="" name='productoEdicion' enctype="multipart/form-data" >

                        <div class="form-control">
                            <label>Nombre del Producto</label>
                            <input type="text" name="name" placeholder="Nombre del producto" required class="control" value= "<%= product.name  %>">
                            <span class="feedback" id="feedback"></span>
                        </div>

                        <div class="form-control">
                            <label>Descripcion del producto</label>
                            <textarea name="description" rows="10"
                                cols="50"><%= product.description  %></textarea>
                            <span class="feedback" id="feedback"></span>
                        </div>

                        <div class="form-control">
                            <label>Imagen del producto</label>
                            <input type="file" name="image" accept=".jpg,.png" value="<%= product.image  %>">
                        </div>

                        <div class="form-control">
                            <label>Categorias</label>
                            <select name="category" required>
                                <option value=5 <%= product.category == '5'? 'selected' : '' %>>Quesos-Duros</option>
                                <option value=1 <%= product.category == '1'? 'selected' : '' %>>Quesos-Blandos</option>
                                <option value=2 <%= product.category == '2'? 'selected' : '' %>>Quesos-Azules</option>
                                <option value=3 <%= product.category == '3'? 'selected' : '' %>>Quesos-Frescos</option>
                                <option value=4 <%= product.category == '4'? 'selected' : '' %>>Quesos-Corteza</option>
                            </select>
                        </div>

                        <div class="form-control">
                            <label>Presentacion</label>
                            <select name="packaging" required>
                                <option value=0 <%= product.packaging == '0'? 'selected' : '' %>>fraccionado</option>
                                <option value=1 <%= product.packaging == '1'? 'selected' : '' %>>horma</option>
                            </select>
                            <span class="feedback" id="feedback"></span>
                        </div>

                        <div class="form-control">
                            <label>Precio</label>
                            <input type="number" name="price" required class="control" value = "<%= product.price  %>"/>
                            <span class="feedback" id="feedback"></span>
                        </div>

                        <div class="form-control">
                            <label>Descuento</label>
                            <input type="number" name="discount" class="control" value = "<%= product.discount %>"/>
                            <span class="feedback" id="feedback"></span>
                        </div>

                        <div class="form-control inline">
                            <div>
                                <label>En Stock</label>
                                <input name="stock" class="form-control" type="radio" value="true" <%= product.stock == true ? 'checked' : '' %>/> <!-- arregler stock-->
                            </div>
                            <div>
                                <label>No en Stock</label>
                                <input name="stock" class="form-control" type="radio" value="false" <%= product.stock ==  false ? 'checked' : '' %>/> <!-- arreglar stock-->
                            </div>
                        </div>

                        <div class="buttons">
                            <button type="submit" class="boton">Enviar</button>
                           
                        </div>

                    </form>

                </section>
            </main>

            <%- include('./partials/footer') -%>

    </body>

</html>