<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Todos los Productos' }) -%>

    <body>
        <%- include('./partials/header') -%>

            <main>

                <div class="placeholderProduct"> </div>
                <section class="destacados">
                    <%- include('./partials/category') -%>

                        <div class="linea-separadora"></div>
                        <div class="container">
                            <h2 class="bold">Productos</h2>

                            <div class="products">
                                <% for(product of products) { %>
                                    <% if(product.stock){ %>

                                        <%- include('./partials/producto') -%>
                                        <% } %>
                                            <% } %>

                            </div>
                        </div>
                </section>

            </main>
            <%- include('./partials/footer') -%>

    </body>

</html>