<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: 'Registro' }) -%>

  <body>
    <%- include('./partials/header') -%>

    <main>
      <section class="form">
        <h2>Registrar Usuario</h2>

        <form
          action="/users/register"
          method="post"
          enctype="enctype=multipart/form-data"
          id="formRegister"
          class="form-register"
        >
          <!-- ! ----------first_name ------------>

          <div class="form-control">
            <label>Nombre</label>
            <input
              type="text"
              id="first_name"
              name="first_name"
              placeholder="Nombre de Usuario"
              class="control"
              autocomplete="first_name"
              value="<%= locals.old && old.first_name? old.first_name : undefined %> "
            />
            <div style="color: maroon" id="first_name_error"></div>
          </div>
          <% if (locals.msgErrors && msgErrors.first_name) { %>
          <div style="color: maroon"><%= msgErrors.first_name.msg %></div>
          <% } %>

          <!-- ! ----------last_name ------------>

          <div class="form-control">
            <label>Apellidos</label>
            <input
              type="text"
              id="last_name"
              name="last_name"
              placeholder="Apellido"
              class="control"
              autocomplete="last_name"
              value="<%= locals.old && old.last_name? old.last_name : undefined %> "
            />
            <div style="color: maroon" id="last_name_error"></div>
          </div>
          <% if (locals.msgErrors && msgErrors.last_name) { %>
          <div style="color: maroon"><%= msgErrors.last_name.msg %></div>
          <% } %>

          <!-- ! ----------user_name ------------>

          <div class="form-control">
            <label>Nombre Usuario</label>
            <input
              type="text"
              id="user_name"
              name="user_name"
              placeholder="Nombre Usuario"
              class="control"
              autocomplete="username"
              value="<%= locals.old && old.user_name? old.user_name : undefined %> "
            />
            <div style="color: maroon" id="user_name_error"></div>
          </div>
          <% if (locals.msgErrors && msgErrors.user_name) { %>
          <div style="color: maroon"><%= msgErrors.user_name.msg %></div>
          <% } %>

          <!-- ! ----------avatar ------------>

          <div class="form-control">
            <label>Imagen del perfil</label>
            <input type="file" id="avatar" name="avatar" accept=".jpg,.png" />
          </div>
          <div style="color: maroon" id="avatar_error"></div>

          <!-- ! ----------birth ------------>

          <div class="form-control">
            <label>Fecha Nacimiento</label>
            <input
              type="date"
              id="birth"
              name="birth"
              placeholder="Fecha Nacimiento"
              class="control"
              autocomplete="birth"
              value="<%= locals.old && old.birth? old.birth : undefined %> "
            />
            <div style="color: maroon" id="birth_error"></div>
          </div>
          <% if (locals.msgErrors && msgErrors.birth) { %>
          <div style="color: maroon"><%= msgErrors.birth.msg %></div>
          <% } %>

          <!-- ! ----------email ------------>

          <div class="form-control">
            <label>Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="ingrese un email"
              class="control"
              value="<%= locals.old && old.email? old.email : undefined %> "
              autocomplete="email"
            />
            <div style="color: maroon" id="email_error"></div>
          </div>
          <% if (locals.msgErrors && msgErrors.email) { %>
          <div style="color: maroon"><%= msgErrors.email.msg %></div>
          <% } %>

          <!-- ! ----------password ------------>

          <div class="form-control">
            <label>Contraseña</label>
            <input
              type="password"
              id="password"
              name="password"
              class="control"
              autocomplete="current_password"
            />
            <div style="color: maroon" id="password_error"></div>
          </div>
          <% if (locals.msgErrors && msgErrors.password) { %>
          <div style="color: maroon"><%= msgErrors.password.msg %></div>
          <% } %>

          <!-- ! ----------adminCode ------------>

          <div class="form-control">
            <label>Código Administrador</label>
            <input
              type="password"
              id="adminCode"
              name="adminCode"
              class="control"
              autocomplete="current_adminCode"
            />
            <div style="color: maroon" id="adminCode_error"></div>
          </div>
          <% if (locals.msgErrors && msgErrors.adminCode) { %>
          <div style="color: maroon"><%= msgErrors.adminCode.msg %></div>
          <% } %>

          <!-- ! ----------a login ------------>

          <div class="register">
            <a href="/users/login">Si ya tiene usuario ingrese aquí</a>
          </div>

          <!-- ! ----------submit ------------>

          <div class="buttons">
            <button type="submit" class="boton">Enviar</button>
            <button type="reset" class="boton">Borrar</button>
          </div>

          <!-- ! ----------remember y admin ------------>

          <label for="">recordame</label>
          <input type="checkbox" name="remember" value="true" <%=locals.old &&
          old.remember=='true'? 'checked' : null %>>
          <label for="">administrador</label>
          <input type="checkbox" name="admin" value= 1 <%=locals.old &&
          old.admin=== '1'? 'checked' : 0 %>>

          <br /><br />
        </form>
      </section>
    </main>

    <%- include('./partials/footer') -%>
    <script type="text/javascript" src="/scripts/validarRegistro.js"></script>
  
  </body>
</html>
