<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: 'Registro' }) -%>

  <body>
    <%- include('./partials/header') -%>

    <main>
      <section class="form">
        <h2>Registrar Usuario</h2>

        <form action="/users/register" method="post" enctype='application/json' class="form-register">
          <div class="form-control">
            <label>Nombre</label>
            <input
              type="text"
              name="first_name"
              placeholder="Nombre de Usuario"
              class="control"
              value="<%= locals.old && old.first_name? old.first_name : undefined %> "
            />
            <span class="feedback" id="feedback"></span>
          </div>
          <% if (locals.msgErrors && msgErrors.first_name) { %>
          <div style="color: maroon"><%= msgErrors.first_name.msg %></div>
          <% } %>

          <div class="form-control">
            <label>Apellidos</label>
            <input
              type="text"
              name="last_name"
              placeholder="Apellido"
              class="control"
              value="<%= locals.old && old.last_name? old.last_name : undefined %> "
            />
            <span class="feedback" id="feedback"></span>
          </div>
          <% if (locals.msgErrors && msgErrors.last_name) { %>
          <div style="color: maroon"><%= msgErrors.last_name.msg %></div>
          <% } %>

          <div class="form-control">
            <label>Nombre Usuario</label>
            <input
              type="text"
              name="user_name"
              placeholder="Nombre Usuario"
              class="control"
              value="<%= locals.old && old.user_name? old.user_name : undefined %> "
            />
            <span class="feedback" id="feedback"></span>
          </div>
          <% if (locals.msgErrors && msgErrors.user_name) { %>
          <div style="color: maroon"><%= msgErrors.user_name.msg %></div>
          <% } %>

          <div class="form-control">
            <label>Fecha Nacimiento</label>
            <input
              type="date"
              name="birth"
              placeholder="Fecha Nacimiento"
              class="control"
              value="<%= locals.old && old.birth? old.birth : undefined %> "
            />
            <span class="feedback" id="feedback"></span>
          </div>
          <% if (locals.msgErrors && msgErrors.birth) { %>
          <div style="color: maroon"><%= msgErrors.birth.msg %></div>
          <% } %>

          <div class="form-control">
            <label>Email</label>
            <input
              type="email"
              name="email"
              placeholder="ingrese un email"
              class="control"
              value="<%= locals.old && old.email? old.email : undefined %> "
            />
            <span class="feedback" id="feedback"></span>
          </div>
          <% if (locals.msgErrors && msgErrors.email) { %>
          <div style="color: maroon"><%= msgErrors.email.msg %></div>
          <% } %>

          <div class="form-control">
            <label>Contraseña</label>
            <input type="password" name="password" class="control" />
            <span class="feedback" id="feedback"></span>
          </div>
          <% if (locals.msgErrors && msgErrors.password) { %>
          <div style="color: maroon"><%= msgErrors.password.msg %></div>
          <% } %>


          <div class="register">
            <a href="/users/login">Si ya tiene usuario ingrese aquí</a>
          </div>

          <div class="buttons">
            <button type="submit" class="boton">Enviar</button>
            <button type="reset" class="boton">Borrar</button>
          </div>
        </form>
      </section>
    </main>

    <%- include('./partials/footer') -%>
  </body>
</html>
