<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Edicion'}) -%>

<body>
    <%- include('./partials/header') -%>

    <main>
        <section class="form">
            <h2>Editar Usuario</h2>

            <form action="/users/editar/<%= user.id %>?_method=PUT" method='post' enctype='application/json' class='form-registro' name='usuarioEdicion' enctype="multipart/form-data">

                <div class="form-control">
                    <label class="info">Nombre</label>
                    <input type="text" name="fist_name" placeholder="Nombre" required class="control"value= "<%= user.first_name  %> <%= user.last_name  %>">
                    <span class="feedback" id="feedback"></span>
                </div>

                <div class="form-control">
                    <label class="info">Apellidos</label>
                    <input type="text" name="last_name" placeholder="Apellido" required class="control"value= "<%= user.first_name  %> <%= user.last_name  %>">
                    <span class="feedback" id="feedback"></span>
                </div>

                <div class="form-control">
                    <label>Fecha Nacimiento</label>
                    <input type="date" name="birth" placeholder="Fecha Nacimiento" required class="control" value= "<%= user.birth  %>">
                    <span class="feedback" id="feedback"></span>
                </div>

                <div class="form-control">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="ingrese un email" required class="control" value= "<%= user.email  %>">
                    <span class="feedback" id="feedback"></span>
                </div>

                <div class="form-control">
                    <label>Contraseña</label>
                    <input type="password" name="password" required class="control">
                    <span class="feedback" id="feedback"></span>
                </div>
                <div class="form-control">
                    <label>Confirmar Contraseña</label>
                    <input type="password" name="confirmPassword" required class="control">
                    <span class="feedback" id="feedback"></span>
                </div>

                <div class="buttons">
                    <button type="submit" class="boton">Enviar</button>
                    <button type="reset" class="boton">Borrar</button>
                </div>

            </form>
        </section>
    </main>

    <%- include('./partials/footer') -%>

</body>

</html>