<div>
    <div class="product">
        <a href="/detalle-producto">
            <div class="product-card">
                <div class="product-image">
                    <img src="..\img\<%= product.image %>"
                        alt="Queso bien rico" />
                </div>
                <div class="product-description">
                    <h3>
                        <%= product.name %>
                    </h3>
                    <p>
                        Este producto se vende
                        <% if(product.packaging=='horma' ) { %>
                            <%= 'por ' + product.packaging %>:
                                <% } else { %>
                                    <%= product.packaging %>
                                        <% } %>
                    </p>
                    <p>
                        <% if(product.discount !== 0) { %>
                        % <%= product.discount %> OFF
                        <% } %>
                    </p>
                </div>
                <div class="product-price">
                    <div aria-hidden="true"></div>
                    <% if (product.discount) { %>
                        <p>
                            <spam class="tachado">
                                $ <%= product.price.toLocaleString(undefined,
                                    {minimumFractionDigits: 2}) %>
                            </spam>
                        </p>
                        <p>
                            $ <%= (product.price - (product.discount *
                                product.price / 100)).toLocaleString(undefined,
                                {minimumFractionDigits: 2}) %>
                        </p>
                        <% } else { %>
                            <p>
                                $ <%= product.price.toLocaleString(undefined,
                                    {minimumFractionDigits: 2}) %>
                            </p>
                            <% } %>
                </div>
            </div>
        </a>
        <div>
            <a href="/carrito" class="boton"> Agregar al carrito</a>
        </div>
    </div>
</div>