    <div class="user">
        <a href="/users/user/<%= user.id %> ">
            <div class="user-card">
                <div class="user-description">
                    <h3>
                        <%= user.first_name %> <%= user.last_name %>
                    </h3>
                    <p>
                        Email: <%= user.email %><br>
                        Nombre de Usuario: <%= user.user %><br><br>
                        <% if (user.admin === true) { %>
                            Administrador
                        <% } else { %>
                            Usuario
                        <% } %>
                        </p>
                </div>
            </div>
        </a>
    </div>
